html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	position:relative;
}
	
#left-section {
	position:absolute;
	height: 100%;
	width: 80%;
	top:0;
	bottom:0;
	left:0;
	overflow: hidden;
}

#navigation-bar {
	background-color:#bebebe;
	position: absolute;
	top:0;
	left:0;
	right:0;
	width: 100%;
	height:60px;
	text-align: center;
}

#prev-address {
	background-color: #4ebaa7; /* Green */
	border: 0 none;
	color: #fff;
	height:100%;
	padding: 0 32px;
	text-decoration: none;
	display: block;
	font-size: 16px;
	position: absolute;
	left:0;top:0;
}
   
#address-label {
	color: black;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}
   
#next-address {
	background-color: #4ebaa7; /* Green */
	border: 0 none;
	color: #fff;
	height:100%;
	padding: 0 32px;
	text-decoration: none;
	display: block;
	font-size: 16px;
	position: absolute;
	right:0;top:0;
}
   
#map {
	position:absolute;
	top:60px;
	right:0;
	left:0;
	bottom: 0;
}

#right-section {
	position: absolute;
	height: 100%;
	width: 20%;
	top:0;
	bottom:0;
	right:0;
	overflow: hidden;
}

#address_text_area {
	float: top;
	margin-left: 10%;
	margin-right: 10%;
	bottom: 40%;
	height: 20%;
	width: 80%;
}

#load-addresses {
	float: top;
	margin-left: 10%;
	margin-top: 5%;
	background-color: #e58447; /* Orange */
	border: 0 none;
	color: #fff;
	padding: 0 32px;
	text-decoration: none;
	display: block;
	font-size: 16px;
	height:120px:;
	width:85%;
	left:0;
	right:0;
}

#output_text_area {
	margin-left: 10%;
	margin-right: 10%;
	bottom:0;
	height:20%;
	width: 80%;
}

#generate-output {
	float: top;
	margin-left: 10%;
	margin-top: 5%;
	background-color: #e58447; /* Orange */
	border: 0 none;
	color: #fff;
	padding: 0 32px;
	text-decoration: none;
	display: block;
	font-size: 16px;
	height:120px:;
	width:85%;
	left:0;right:0;
}
