html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	position:relative;
}
	
#left-section {
	position:absolute;
	height: 100%;
	width: 80%;
	overflow: hidden;
}

#navigation-bar {
	position: relative;
	background-color:#bebebe;
	top:0%;
	width: 100%;
	height:4%;
	text-align: center;
}

#prev-address {
	position: absolute;
	top:0%;
	background-color: #4ebaa7; /* Green */
	border: 0;
	color: #fff;
	height:100%;
	width:12%;
	padding: 0 3%;
	text-decoration: none;
	display: block;
	font-size: 1.1vw;
	left:0;
}
   
#address-label {
	position: absolute;
	top:0%;
	height:100%;
	left: 12%;
	right:12%;
	color: black;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 2.5vh;
}
   
#next-address {
	position: absolute;
	top:0%;
	left: 88%;
	background-color: #4ebaa7; /* Green */
	border:0;
	color: #fff;
	height:100%;
	width:12%;
	padding: 0 3%;
	text-decoration: none;
	display: block;
	font-size: 1.1vw;
}
   
#map {
	position:absolute;
	top:4%;
	right:0;
	left:0;
	bottom: 0;
}

#right-section {
	position: absolute;
	height: 100%;
	width: 20%;
	margin-left: 10%;
	top:0;
	bottom:0;
	right:0;
	overflow: auto;
}

#ghi{
	position:relative;
	top: 1%;
	text-align:center;
	font-size: 2.5vh;
}

#import {
	position: relative;
	margin-left: 10%;
	top: 2.5%;
	background-color: #e58447; /* Orange */
	color: #fff;
	text-decoration: none;
	font-size: 2vh;
	width:82%;
	left:0;
	right:0;
}

#addressFile{
	position:relative;
	top: 4.5%;
	text-align:center;
	font-size: 2.5vh;
}

#importAddress{
	position: relative;
	margin-left: 10%;
	top: 6%;
	background-color: #e58447; /* Orange */
	color: #fff;
	text-decoration: none;
	font-size: 2vh;
	width:82%;
	left:0;
	right:0;
}

#addresses{
	position:relative;
	top: 7.5%;
	text-align: center;
	font-size: 2.5vh;
}

#address_text_area {
	/*float: top;*/
	position: relative;
	margin-left: 10%;
	top:9%;
	/*margin-right: 10%;*/
	font-size: 1vw;
	bottom: 40%;
	height: 45%;
	width: 80%;
}

#load-addresses {
	position: relative;
	margin-left: 10%;
	top: 11%;
	background-color: #e58447; /* Orange */
	color: #fff;
	text-decoration: none;
	display: block;
	font-size: 2vh;
	height:5%;
	width:82%;
	left:0;
	right:0;
}

#form{
	position: relative;
	top:13%;
	margin-left: 10%;
	left:0%;
}

/*#output{
  position:absolute;
  font-size: 2.5vh;
  top: 90%;
  left:40%;
}

#output_text_area {
	position: absolute;
	top:60% ;
	margin-left: 10%;
	/*margin-right: 10%;*//*
	font-size: 2vh;
	bottom:0;
	height:31.5%;
	width: 80%;
}*/

#generate-output {
	position: relative;
	top: 15%;
	margin-left: 10%;
	background-color: #e58447; /* Orange */
	color: #fff;
	text-decoration: none;
	display: block;
	font-size: 2vh;
	height:5%;
	width:82%;
	left:0;right:0;
}
